<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <application>
        <uses-library
            android:name="android.test.mock"
            android:required="true" />
        <provider
            android:name="com.inbox.inbox_app.TestDocumentsProvider"
            android:authorities="${applicationId}.test.documents"
            android:exported="true"
            android:grantUriPermissions="true"
            android:permission="android.permission.MANAGE_DOCUMENTS" />
    </application>
</manifest>
